* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

h2 {
  font-family: "Poppins", serif;
  font-size: 96px;
  font-weight: 500;
  line-height: 112.5px;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h3 {
  font-family: "Poppins", serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 87.77px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

h5 {
  font-family: "Poppins", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p {
  font-family: "Poppins", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56.54px;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

a {
  font-family: "Poppins", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.hero_abs2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: url("./assets/img/3.png") no-repeat center/cover;
}

.bg_textt {
  background: linear-gradient(243.98deg, #fb546d 16.26%, #9d4dff 83.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero-content {
  /* max-width: 800px; */
  margin: auto;
}

.astronaut {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

footer {
  width: 100vw;
  display: flex;
  padding-left: 20px;
}

.siddd__bg {
  position: relative;
}

.siddd__bg::before {
  content: "";
  position: absolute;
  top: 136px;
  left: -90px;
  width: 389px;
  height: 389px;
  background-image: url(/public/side-about-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.siddd__bg::after {
  content: "";
  position: absolute;
  /* top: 136px; */
  right: -94px;
  bottom: 0;
  width: 389px;
  height: 389px;
  background-image: url(/public/sidebg-about.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-iconss {
  position: relative;
}

.bg-iconss::before {
  content: "";
  position: absolute;
  top: 136px;
  left: -90px;
  width: 337px;
  height: 246px;
  background-image: url(/public/sr-1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-iconss::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 337px;
  height: 246px;
  background-image: url(/public/sr-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bgg__Arbtraction {
  position: relative;
  background-image: url(/public/bs-1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bgg__MEDIATION {
  background-image: url(/public/bs-2.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.bgg__CONCILIATION {
  background-image: url(/public/bs-3.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.bgg_aa {
  position: relative;
}

.bgg_aa::before {
  content: "";
  position: absolute;
  top: 136px;
  left: -90px;
  width: 389px;
  height: 389px;
  background-image: url(/public/side-about-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bgg_aa::after {
  content: "";
  position: absolute;
  bottom: 53rem;
  right: -179px;
  width: 389px;
  height: 389px;
  background-image: url(/public/side-about-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}


.about__conttts h2 {
  font-size: 60px;
  line-height: 90px;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Poppins", serif;
}

.about__conttts P {
  font-size: 20px;
  line-height: 27px;
  color: #829BBC;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
}

.icons__aboutt {
  position: relative;
}

.icons__aboutt::after {
  content: "";
  position: absolute;
  bottom: 20rem;
  right: -12rem;
  width: 193px;
  height: inherit;
  background-image: url(/public/about/about-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* transform: rotate(180deg); */
}

















@media only screen and (min-width: 320px) and (max-width: 768px) {
  h1.text-\[50px\].text-left.leading-\[75px\].font-\[500\].mb-4.text-\[\#FFFFFF\] {
    font-size: 18px;
    line-height: 26px;
    ;
  }

  .container.relative.text-left.mt-\[280px\].mb-\[596px\].z-10 {
    margin-top: 166px;
    margin-bottom: 20px;
    padding: 10px;
  }

  p.mb-6.text-left.text-\[23px\].leading-\[34\.5px\].text-\[\#FFFFFF\] {
    font-size: 12px;
    line-height: 20px;
  }

  p.mb-4.text-\[30px\].font-\[400\].leading-\[60px\].tracking-\[-2\%\].sm\:text-left {
    text-align: left;
  }

  p.mb-4.text-\[30px\].font-\[400\].leading-\[60px\].tracking-\[-2\%\].sm\:text-left {
    text-align: left;
  }

  p.text-\[30px\].font-\[400\].leading-\[60px\].tracking-\[-2\%\].sm\:text-left {
    text-align: left;
  }

  a.bg-\[\#CB935D\].w-\[231px\].h-\[60px\].text-white.font-\[400\].text-\[24px\].leading-\[36px\].flex.items-center.justify-center.rounded-none {
    width: 133px;
    height: 40px;
    font-size: 16px;
  }

  .container.relative.text-left.mt-\[200px\].mb-\[580px\].z-10 {
    margin-top: 135px;
    padding: 20px;
    margin-bottom: 0px;
  }

  h1.text-\[96px\].leading-\[144px\].font-\[700\].text-\[\#FFFFFF\] {
    font-size: 52px;
  }

  span.text-\[\#CB935D\].text-\[96px\].leading-\[144px\].font-\[700\] {
    font-size: 52px;
  }

  .flex.items-center.flex-col.justify-center.w-full.h-screen.bg-cover.bg-center {
    /* background-size: 440px 935px !important; */
    padding: 15px;
    height: auto;
  }

  button.bg-\[\#CB935D\].w-\[231px\].h-\[60px\].text-white.font-\[400\].text-\[24px\].leading-\[36px\] {
    width: 130px;
    height: 40px;
    font-size: 16px;
  }

  .grid.grid-cols-1.py-\[100px\].sm\:grid-cols-2.lg\:grid-cols-3.gap-6 {
    padding: 0 !important;
  }

  p.mb-4.text-\[40px\].leading-\[60px\].tracking-\[-2\%\].sm\:text-left {
    font-size: 16px;
    line-height: 38px;
    text-align: left;
  }

  p.text-\[40px\].leading-\[60px\].tracking-\[-2\%\].sm\:text-left {
    font-size: 16px;
    line-height: 38px;
    text-align: left;
  }

  .text-white.rounded-lg.p-5.flex.justify-between.items-center.z-10 {
    flex-direction: column-reverse;
    /* order: 1; */
    gap: 16px;
  }

  .flex.justify-between.items-baseline.gap-\[100px\].flex-col {
    gap: 20px;
  }


  span.text-\[96px\].text-\[\#CB935D\].leading-\[144px\].font-\[400\].text-center {
    font-size: 48px;
  }

  h2.text-\[96px\].leading-\[144px\].font-\[400\].text-black.text-center.mb-8 {
    font-size: 42px;
    line-height: 40px;
  }

  footer.bg-\[\#1b1c2e\].text-white.py-10 {
    padding-left: 0;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .bg-iconss::before {
    display: none;
  }

  .bg-iconss::after {
    display: none;
  }

  .siddd__bg::after {
    display: none;
  }

  .siddd__bg::before {
    display: none;
  }

  .bgg__Arbtraction.w-\[1614px\].h-\[977px\].flex.justify-center.items-center {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 20px;
    background-size: cover;
  }


  br {
    display: none;
  }

  .bgg__CONCILIATION.w-\[1614px\].h-\[977px\].flex.justify-center.items-center {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 20px;
    background-size: cover;
  }

  .bgg__MEDIATION.w-\[1614px\].h-\[977px\].flex.justify-center.items-center {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 20px;
    background-size: cover;
  }

  .flex.justify-center.items-center.py-10 {
    padding: 10px;
  }

  .bgg_aa::after {
    display: none;
  }

  p.font-medium.text-\[32px\].text-\[\#000000\] {
    font-size: 16px;
    line-height: 50px;
  }

  .mb-4.px-10 {
    padding: 10px;
  }

  .bg-\[\#1b1c2e\].bgg_aa.overflow-hidden.flex.flex-col.gap-\[70px\].justify-center.items-center.text-white.p-8.relative {
    padding: 0;
  }

  button.w-\[600px\].h-\[155px\].rounded-\[45px\].text-center.text-\[64px\].font-medium.bg-\[\#CB935D\].text-\[\#191A23\].border-b-2.border-black.shadow-lg.opacity-\[initial\] {
    width: 310px;
    font-size: 32px;
    height: 59px;
  }
}